// Colors
$accent: #3470FF;
$main-color: #121417;
$main-color-faded-50:  rgba($main-color, 0.5);
$main-color-faded-20: rgba($main-color, 0.2);
$input-color: #8A8A89;
$paragraph-color-50: rgba(18, 20, 23, 0.50);
$select-color-20: rgba(18, 20, 23, 0.20);
$white: #FFFFFF;
$bg-select: #F7F7FB;

// Radius
$main-radius: 14px;
$button-radius: 12px;
$field-select-radius: 14px;

// Font weight
$regular: 400;
$medium: 500;
$bold: 600;



// image size
:root {
    --img-width: 274px;
    --img-height: 268px;
}

$img-width: var(--img-width);
$img-height: var(--img-height);

// Container padding
:root {
    --container-padding: 150px 128px;
}

$container-padding: var(--container-padding);



