.container {
    padding: 0 128px;
    width: 100%;
}
.list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 29px;
    row-gap: 50px;
    margin-bottom: 100px;

}
.btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-decoration-line: underline;
    color: $accent;
}