.header {
    display: flex;
    justify-content: space-between;
  
}
.nav {
    display: flex;
    gap: 60px;
    padding: 20px;
    justify-content: space-;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    font-style: initial;
}
