.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 128px 25px 128px;

  
}
.nav {
    display: flex;
    gap: 60px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    font-style: initial;

  
    }
    .link {
        &:hover,
        &:focus {
            transition: all, 0.5s;
            color: #0B44CD;
    }
    }


