@import 'src/styles/variables';
.item {
    position: relative;
    width: 274px;
    height: 426px;
}

.img {
    position: relative;
    margin-bottom: 14px;
    width: 274px;
    height: 268px;
    object-fit: cover;
    border-radius: $main-radius;
    background: linear-gradient(180deg, rgba(18, 20, 23, 0.50) 2.5%, rgba(18, 20, 23, 0.00) 41.07%), #F3F3F2;
}
.heart {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 14px;
    margin-right: 14px;
}
.car_name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
        
    color: $main-color;
}
.car_model {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    color: $accent;
}
.car_description {
    margin-bottom: 28px;
    overflow: hidden;
    display: flex;
    width: 270px;
    height: 40px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.car_info {
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    line-height: 1.5;
        
    color: $paragraph-color-50;
}
.btn {
    display: flex;
    width: 274px;
    height: 44px;
    padding: 12px 99px;
    justify-content: center;
    align-items: center;
    
    border-radius: 12px;
    background: $accent;
    border: 0;
       
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
            
    color: $white;
}