.item {
    width: 274px;
        height: 426px;
}

.img {
    margin-bottom: 14px;
    width: 274px;
    height: 268px;
    object-fit: cover;
    border-radius: 14px;
    background: linear-gradient(180deg, rgba(18, 20, 23, 0.50) 2.5%, rgba(18, 20, 23, 0.00) 41.07%), #F3F3F2;
}
.car_name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    color: #121417;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 150% */
}
.car_model {
    color: #3470FF;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
}
.car_description {
    margin-bottom: 28px;
        width: 274px;
        height: 40px;
        overflow: hidden;
}
.car_info {
    
    color: rgba(18, 20, 23, 0.50);
        font-family: Manrope;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        /* 150% */
}
.btn {
    display: flex;
        width: 274px;
        height: 44px;
        padding: 12px 99px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 12px;
        background: #3470FF;
        border: 0;

        color:  #FFF;
            font-family: Manrope;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            /* 142.857% */
}